Python Basics - Day 2

List:

A data structure in Python that is mutable or changable, ordered sequence of elements. 
Each element or value inside the list is called an item.
Lists are defined by having values between square brackets [ ]

In [1]:
type([])

list

In [2]:
lst = (list)

In [3]:
lst = ['AI', 'ML', 'DL']

In [4]:
len(lst)

3

Append

Used to add elements in the List

Elements are added at the end of the list

In [7]:
lst.append("Gen AI")

In [8]:
lst

['AI', 'ML', 'DL', 'Gen AI', 'Gen AI', 'Gen AI']

Insert

Insert elements in a specific order

#list.insert(index,"new element")

In [9]:
lst.insert(0, "stats")
lst

['stats', 'AI', 'ML', 'DL', 'Gen AI', 'Gen AI', 'Gen AI']

Indexing in a List

In [ ]:
lst[3]

'DL'

In [11]:
lst[:]

['stats', 'AI', 'ML', 'DL', 'Gen AI', 'Gen AI', 'Gen AI']

In [12]:
lst[0:4]

['stats', 'AI', 'ML', 'DL']

Extend Method

In [19]:
lst = [1, 2, 3, 4]

In [20]:
lst.extend([7, 8])
lst

[1, 2, 3, 4, 7, 8]

Various Operations that we can perform on List

In [21]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
sum(lst)

36

pop() Method

In [23]:
lst.pop()
lst

[1, 2, 3, 4, 5, 6, 7]

In [24]:
lst.pop(3)

4

In [25]:
lst

[1, 2, 3, 5, 6, 7]

count()

Calculates total occurrrence of given element of List

In [26]:
lst = [1, 1, 2, 3, 4]
lst.count(1)

2

len()

Calculates total length of the list

In [28]:
len(lst)

5

index()

Returns the index of first occurrence of an element in the List

Starting and ending index are not necessary parameters

In [29]:
lst.index(1, 1, 4)

1

min() and max()

In [32]:
max(lst)

4

In [33]:
min(lst)

1

For loop and Range Function

In [ ]:
#Print numbers from 1 to 50

for i in range(51):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
#Print only even numbers from a list

numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for n in numbers:
    if n % 2 == 0:
        print(n)

2
4
6
8
10
12
14

In [3]:
#Find sum of numbers in a list using for loop

numbers = [1,2,3,4,5,6,7,8,9,10]
total = 0

for num in numbers:
    total = total + num

print(total)

55

In [4]:
#Find sum of numbers in a list using inbuilt function

numbers = [1,2,3,4,5,6,7,8,9,10]
total = sum(numbers)
print(total)

55

In [ ]:
#Find largest number in a list using for loop

numbers = [10, 200, 153, 476, 78]
largest = numbers[0]
for n in numbers:
    if n > largest:
        largest = n
print("The largest number is: ",largest)

The largest number is:  476

In [7]:
#Find largest number in a list using inbuilt function

numbers = [1086, 20011, 14553, 9546, 78154]
largest = max(numbers)
print(largest)

78154